html { scroll-behavior: smooth;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.butao .btn, .cta .btn {
    background-color: #2e71b4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.butao :hover{
    background-color: #1f4c79;
}

.baracima{
    margin-left: 500px;
}

body {
    font-family: Arial, sans-serif;
    font-style: #556677;
}

header{
    background-color: #14181C;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header li a{
        font-size: 16px;
}       
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin-right: 30px;
}     
nav ul li a {
    position: relative;
    top: 1px;
    left: 190px;
    color: #99AABB;
    text-decoration: none;
}
nav ul li a{
    transition: color 0.3s linear;
}
nav ul li a:hover {
    color:#2e71b4;
}

main {
    padding: 20px;
    min-height: calc(100vh - 170px)
}

.contact-info p {
    margin-bottom: 10px;
}

.quick-links ul {
    list-style-type: none;
    text-align: center;
}

.quick-links ul li {
    display: inline;
    margin-right: 20px;
}

.quick-links ul li a {
    color: #fff;
    text-decoration: none;
    left: 10px;
    position: relative;
}

h1{font-size: 30px;}

.row {
    display: flex;
    flex-wrap: wrap;
}

.backgroundpagina{
    background-color: #FFFFFF;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.row{
    flex-wrap: wrap;
    display: flex;
}

.bara-lado{
    border-right: 2px solid #D0D8E0;
    width: 235px;
    height: 325px;
    position: fixed;
    top: 130px;
    left: 250px;
}

ul{list-style: none;}

.bara-lado ul li a{
    text-decoration: none;
    color:#556677;
    padding-left:30px;
    line-height:1.7;
    height: fit-content;
}

.quem{
    color: #556677;
    margin-bottom: 20px;
    line-height: 1.7;
    margin-left: 575px;
    margin-right: 250px;
    top: 170px;
    left: 575px;
}

.quemsomos-titulo{
    border-bottom: 2px solid #D0D8E0;
    height: fit-content;
    align-self: flex-start;
    position: absolute;
    top: 130px;;
    left: 575px;
}

.quemsomostexto{
    margin-top: 110px;
}

.quemsomostexto2{
    margin-top: 30px;
}

.footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100% ;
    margin-top: auto;
}

body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: max-content;
}
