.logo {
    position:relative;
    top: 0%;
    left: 0%;
    width: 200px;
    height: auto;
}

.baracima{
    margin-left: 500px;

}


body {
    font-family: Arial, sans-serif;
    font-style: #556677;
    
}

.container {
    justify-content: start;
}

header{
    background-color: #14181C;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header li a{
        font-size: 16px;
}       
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin-right: 30px;
}     
nav ul li a {
    position: relative;
    top: 1px;
    left: 190px;
    color: #99AABB;
    text-decoration: none;
}
nav ul li a{
    transition: color 0.3s linear;
}
nav ul li a:hover {
    color:#2e71b4;
}

main {
    padding: 20px;
    min-height: calc(100vh - 170px)
}
main {
    padding: 20px;
}

.butao .btn, .cta .btn {
    background-color: #2e71b4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 40px;
}

.butao :hover{background-color: #1f4c79;}

.dashboard {
    position: absolute;
    height: 100%;
    width: 12%;
    background-color: #424952;
    margin-left: 0px;
    display: inline-block;

}

.contprincipal{
    position: relative;
    padding-top: 30px;
    grid-row-gap: 10px;
    margin: auto;
    width: 65%;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 20;
}

.itemE {
    grid-column-start: 1;
    grid-column-end: 2;
}

.itemD {
    grid-column-start: 2;
    grid-column-end: 12;
}

.itemimg {
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 21;
    margin: auto;
}

.imgclass {
    width: 350px;
    height: auto;
    display: block;
    margin: auto;

}

.item {
    border: 1px solid red;
}
